body {
    font-family: DIN OT, 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

span, a {
    color: #6ae0cb;
    text-decoration: none;
}

h1 {
    margin-top: 48px;
}

a:hover {
    color: #6ae0cb;
    text-decoration: underline;
}

.contactfooter li {
    line-height: 1.5;
}

.construction {
    text-align: center;
    font-size: 13px;
    width: 100%;
    height: 50%;
    top: 50%;
    position: absolute;
}

.content {
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}

.symbol {
    width: 100%;
    background-image: url('/public/images/logo_symbol_white.svg');
    background-position: 50% 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100px;
    display: inline-block;
    margin: 72px auto 72px auto;
}


@media screen and (max-width: 400px) {

    .construction {
        height: 100%;
        top: 32px;
        position: relative;
    }

    .content {
        transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
    }

    .symbol {
        margin: 32px auto 32px auto;
    }
}
