<div class="construction">
    <div class="content">
        <span>This page is under construction!</span>
        <h1>MINT IS A VERSATILE DESIGN CONSULTANCY FIRM BASED IN OSLO.</h1>
        <div class="symbol"></div>

        <div class="contactfooter">
            <ul>
                <li>{{common.about.companyname}}</li>
                <li>{{common.contact.telephone}}</li>
                <li>{{common.contact.address}}</li>
                <li>{{{common.contact.email}}}</li>
            </ul>
        </div>
    </div>
</div>
