body {
    font-family: DIN OT, 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #000;
}

a {
    color: #6ae0cb;
    text-decoration: none;
}

a:hover {
    color: #6ae0cb;
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 1em;
}

h2 {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    padding-bottom: 1.5em;
}

.menu {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0);
    top: 0;
}

.menu > a {
    width: 100%;
    text-align: center;
}

.menu a {
    box-sizing: border-box;
    display: block;
    padding: 0.8em;
    color: white;
}

.menu li:last-child a {
    padding-right: 2em;
}

.menu a:hover {
    text-decoration: none;
    color: #6ae0cb;
}

.menu a img {
    height: 1.8em;
}

.menu ul:before {
    content: '';
    display: inline-block;
    height: 3.4em; /* padding of .menu a + height of .menu img */
    vertical-align: middle;
}

.menu ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: none;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    flex: 1 0 25%;
    vertical-align: middle;
}

.hero {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.hero > div {
    padding: 10em 3em 3em 3em;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%);
}

.hero .logo {
    width: 8em;
    margin: 0 auto;
    display: block;
}

.hero p {
    text-align: center;
    max-width: 30em;
    margin: 2em auto;
    font-size: 0.8em;
    line-height: 1.4em;
}

.hero.about {
    min-height: 20em;
}

.center {
    text-align: center;
}
