
.awards ul,
.clients ul,
.content .body {
    margin: 3em auto 3em 5%;
}

.content h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content.home h1,
.content.about h1,
.content.contact h1 {
    margin-top: 2em;
}

.content.services h1 {
    margin-top: 3em;
}

.contact p {
    padding-bottom: 0.5em;
}

.awards ul,
.clients ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.awards li {
    flex: 1 0 100%;
    display: block;
}

.awards li b {
    display: block;
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 0.2em;
    word-wrap: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    padding-right: 1em;
}

.awards li div {
    margin: 0.5em 0 2em 0;
    color: rgb(156,156,156);
    display: flex;
    flex-direction: row;
}

.awards li div > span {
    color: #6ae0cb;
    margin-right: 0.5em;
}

footer {
    padding-top: 3em;
}

.clients li {
    box-sizing: border-box;
    margin: 1em 2em;
}

.clients li img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 4em;
    padding: 0;
}

.map {
    height: 30em;
    width: 90%;
    margin: 0 5%;
}

section.works h2 {
    text-align: center;
    margin-top: 2em;
}

section.works > a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 2em 0;
}

div.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.work .project {
    display: flex;
    flex: 1 0 100%;
    background-size: cover;
    background-position: center center;
}

div.work .project.current {
    flex: 1 0 50%;
    min-height: 30em;
}

div.work .project .overlay {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    opacity: 0.8;
    transition: opacity 0.5s;
}

div.work .project .overlay:hover {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

div.work .project a {
    color: white;
    font-size: 1.4em;
    display: block;
    box-sizing: border-box;
    padding: 6em 1em 1em 1em;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s;
}

div.work .project a:hover {
    text-decoration: none;
    opacity: 1;
}

div.work .project a span {
    font-size: 0.8rem;
    display: block;
    padding-top: 0.6em;
}

footer .logo {
    display: block;
    width: 5em;
    margin: 4em auto 2em auto;
}

footer .contact {
    text-align: center;
    line-height: 1.6em;
    list-style: none;
}

footer .social {
    list-style: none;
    text-align: center;
    margin-bottom: 3em;
}

footer .social li {
    display: inline-block;
    margin: 2em 0.5em
}

footer .social li img {
    width: 2em;
    height: 2em;
}

section.workdescription {
    width: 80%;
    margin: 0 auto;
}

section.workdescription h1 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2em;
    padding: 5em 0 1em 0;
}

section.workdescription p {
    line-height: 1.25em;
    padding-bottom: 1.5em;
    color: rgb(220,220,220);
    max-width: 30em;
}

section.workdescription > div {
    padding-bottom: 4em;
}

section.gallery {
    font-size: 0;
    line-height: 0;
}

section.gallery img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.employees {
     overflow: auto;
     margin-bottom: 4em;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-content: flex-end;
}

.profile {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1em;
    flex: 1 0 100%;
}

.profile .photo {
    height: 20em;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
}

.profile .details {
    padding: 2em 5%;
    line-height: 2em;
    color: white;
    box-sizing: border-box;
    background-color: rgb(50,50,50);
}

.profile .details h2 {
    font-size: 1.5em;
    word-break: normal;
    word-break: break-word;
}

.profile .details ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services.excerpts {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 6em 5%;
    text-align: center;
    flex-wrap: wrap;
}

.services.excerpts > div {
    flex: 1 0 100%;
    margin-bottom: 6em;
}

.services.excerpts > div:last-child {
    margin-bottom: 0;
}

.services.excerpts > div img {
    height: 4em;
    padding-bottom: 2em;
}

.services.excerpts > div {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.services .anchor {
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 8.5em;
}

.services .service {
    position: relative;
}

.services .content {
    width: 100%;
    box-sizing: border-box;
    padding: 3em 5% 0 5%;
    position: relative;
}

.services .background {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
}

.services .left .background {
    right: 0;
    background-position: 50% 50%;
    width: 100%;
}

.services .right .background {
    width: 100%;
    left: 0;
    background-position: 0% 50%;
}

.services .service.left {
    background-position: 50% 50%;
}

.services .service.right {
    background-position: 50% 50%;
    overflow: auto;
}

.services .left .background:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}

.services .right .background:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}

@media screen and (min-width: 35em) {
    .hero .logo {
        width: 10em;
    }

    .hero p {
        font-size: 1em;
        line-height: 1.2em;
    }

    .hero.about, .hero.contact {
        min-height: 25em;
    }

    div.work .project.current {
        flex: 1 0 100%;
    }

    div.work .project {
        flex: 1 0 50%;
    }

    .awards li {
        flex: 1 0 50%;
        display: block;
        padding-right: 1em;
        box-sizing: border-box;
    }

    .services.excerpts > div {
        flex: 1 0 40%;
    }
}

@media screen and (min-width: 40em) {
    .hero .logo {
        width: 12em;
    }

    .hero > div {
        padding: 8em 3em 3em 3em;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu > a {
        width: auto;
        text-align: left;
    }

    .menu ul {
        text-align: left;
        display: block;
        margin-left: auto;
    }

    .menu ul li {
        display: inline-block;
        flex: none;
        vertical-align: middle;
    }

    div.work h2 {
        font-size: 2.6em;
        margin: 3em auto 1em auto;
    }

    .profile {
        flex-direction: column;
        flex: 1 0 50%;
    }

    .clients li img {
        height: 5em;
    }

    .services.excerpts > div {
        flex: 1 0 25%;
    }

    .services.excerpts > div img {
        height: 5em;
    }
}

@media screen and (min-width: 50em) {
    div.work .project.current {
        flex: 1 0 66.6667%;
    }

    div.work .project {
        flex: 1 0 33.3336%;
    }

    div.work .project a {
        opacity: 0.5;
    }

    .hero.about, .hero.contact {
        min-height: 30em;
    }

    .profile {
        box-sizing: border-box;
        flex-direction: column;
    }

    .profile .photo {
        flex: none;
    }

    .employee .about {
        width: 50%;
        padding: 0 5% 3em 0;
        max-width: 30em;
        box-sizing: border-box;
    }

    .content .body {
        max-width: 45%;
        box-sizing: border-box;
        padding-right: 3em;
    }

    .services .anchor {
        padding-top: 0;
    }

    .services .content {
        width: 50%;
        padding-bottom: 3em;
    }

    .services .left .background,
    .services .right .background {
        width: 60%;
    }

    .services .service.left .content {
        padding-left: 5%;
    }

    .services .service.right .content {
        float: right;
        padding-right: 5%;
    }

    .services .left .background:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
    }

    .services .right .background:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
    }

    .clients li img {
        height: 5em;
    }

    .services.excerpts > div img {
        height: 6em;
    }
}

@media screen and (min-width: 70em) {
    .hero .logo {
        width: 16em;
    }

    .hero p {
        font-size: 1.2em;
        line-height: 1.6em;
    }

    .hero.about, .hero.contact {
        min-height: 35em;
    }

    div.work .project.current {
        flex: 1 0 50%;
    }

    div.work .project {
        flex: 1 0 25%;
    }

    section.workdescription > div {
        max-width: 60em;
        columns: 20em 2;
        -webkit-columns: 20em 2;
        -moz-columns:  20em 2;
        column-gap: 4em;
        -webkit-column-gap: 4em;
        -moz-column-gap: 4em;
        padding-bottom: 5em;
    }

    .employee {
        width: 40%;
        margin: 1em 5% 0 5%;
    }

    .profile {
        flex-direction: row;
    }

    .profile .photo {
        flex: 1 0 50%;
    }

    .profile .details {
        flex: 1 0 45%;
    }

    .map {
        height: 40em;
    }

    .services .content {
        padding-top: 6em;
        padding-bottom: 6em;
    }

    .services.excerpts > div {
        padding-left: 3em;
        padding-right: 3em;
    }

    .services.excerpts > div img {
        height: 7em;
    }
}

@media screen and (min-width: 110em) {
    .hero .logo {
        width: 22em;
    }

    .hero.about, .hero.contact {
        min-height: 40em;
    }

    .map {
        height: 50em;
    }
}

@media screen and (min-width: 170em) {
    .hero .logo {
        width: 28em;
    }

    .hero.about, .hero.contact {
        min-height: 50em;
    }

    .map {
        height: 60em;
    }
}
