h1 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 1em;
}

h2 {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    padding-bottom: 1.5em;
}

.awards ul,
.clients ul,
.content .body,
.content.contact,
.content.about {
    width: 90%;
    margin: 3em auto 3em 5%;
}

.content h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content.about h1,
.content.contact h1 {
    margin-top: 2em;
}

.contact p {
    padding-bottom: 0.5em;
}

.awards ul,
.clients ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.awards li {
    flex: 1 0 100%;
    display: block;
}

.awards li b {
    display: block;
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 0.2em;
    word-wrap: break-word;
    box-sizing: border-box;
    padding-right: 1em;
}

.awards li div {
    margin-bottom: 2em;
    color: rgb(156,156,156);
}

.awards li div > span {
    color: #6ae0cb;
    margin-right: 0.5em;
}

footer {
    padding-top: 3em;
}

.clients li {
    flex: 1 0 50%;
    box-sizing: border-box;
    height: 11em;
    padding: 3em;
}

.clients li img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.map {
    height: 30em;
    width: 90%;
    margin: 0 5%;
}

.menu {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0);
    top: 0;
}

.menu > a {
    width: 100%;
    text-align: center;
}

.menu a {
    box-sizing: border-box;
    display: block;
    padding: 0.8em 0.8em 0.8em 1.5em;
    color: white;
}

.menu li:last-child a {
    padding-right: 2em;
}

.menu a:hover {
    text-decoration: none;
}

.menu a img {
    height: 1.8em;
}

.menu ul:before {
    content: '';
    display: inline-block;
    height: 3.4em; /* padding of .menu a + height of .menu img */
    vertical-align: middle;
}

.menu ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: none;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    flex: 1 0 33%;
    vertical-align: middle;
}

.hero {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.hero > div {
    padding: 10em 3em 3em 3em;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%);
}

.hero .logo {
    width: 8em;
    margin: 0 auto;
    display: block;
}

.hero p {
    text-align: center;
    max-width: 30em;
    margin: 2em auto;
    font-size: 0.8em;
    line-height: 1.4em;
}

.hero.about, .hero.contact {
    min-height: 20em;
}

section.works h2 {
    text-align: center;
    margin-top: 2em;
}

section.works > a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 2em 0;
}

div.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.work .project {
    display: flex;
    flex: 1 0 100%;
    background-size: cover;
    background-position: center center;
}

div.work .project.current {
    flex: 1 0 50%;
    min-height: 30em;
}

div.work .project .overlay {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    opacity: 0.8;
    transition: opacity 0.5s;
}

div.work .project .overlay:hover {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

div.work .project a {
    color: white;
    font-size: 1.4em;
    display: block;
    box-sizing: border-box;
    padding: 6em 1em 1em 1em;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s;
}

div.work .project a:hover {
    text-decoration: none;
    opacity: 1;
}

div.work .project a span {
    font-size: 0.8rem;
    display: block;
    padding-top: 0.6em;
}

footer .logo {
    display: block;
    width: 5em;
    margin: 4em auto 2em auto;
}

footer .contact {
    text-align: center;
    line-height: 1.6em;
    list-style: none;
}

footer .social {
    list-style: none;
    text-align: center;
    margin-bottom: 3em;
}

footer .social li {
    display: inline-block;
    margin: 2em 0.5em
}

footer .social li img {
    width: 2em;
    height: 2em;
}

section.workdescription {
    width: 80%;
    margin: 0 auto;
}

section.workdescription h1 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2em;
    padding: 5em 0 1em 0;
}

section.workdescription p {
    line-height: 1.25em;
    padding-bottom: 1.5em;
    color: rgb(220,220,220);
    max-width: 30em;
}

section.workdescription > div {
    padding-bottom: 4em;
}

section.gallery {
    font-size: 0;
    line-height: 0;
}

section.gallery img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.employee {
    overflow: auto;
    margin-bottom: 4em;
}

.employee .about {
    float: left;
    box-sizing: border-box;
    padding: 3em 5%;
}

.profile {
    float: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.profile .photo {
    flex: 1 0 100%;
    height: 20em;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
}

.profile .details {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    justify-content: center;
    padding: 2em;
    line-height: 2em;
    color: white;
    box-sizing: border-box;
    background-color: rgb(50,50,50);
}

.profile .details h2 {
    font-size: 1.5em;
    word-break: break-word;
}

.profile .details ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 35em) {
    .hero .logo {
        width: 10em;
    }

    .hero p {
        font-size: 1em;
        line-height: 1.2em;
    }

    .hero.about, .hero.contact {
        min-height: 25em;
    }

    div.work .project.current {
        flex: 1 0 100%;
    }

    div.work .project {
        flex: 1 0 50%;
    }

    .awards li {
        flex: 1 0 50%;
        display: block;
    }

    .clients li {
        flex: 1 0 33.3336%;
    }
}

@media screen and (min-width: 40em) {
    .hero .logo {
        width: 12em;
    }

    .hero > div {
        padding: 8em 3em 3em 3em;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu > a {
        width: auto;
        text-align: left;
    }

    .menu ul {
        text-align: left;
        display: block;
        margin-left: auto;
    }

    .menu ul li {
        display: inline-block;
        flex: none;
        vertical-align: middle;
    }

    div.work h2 {
        font-size: 2.6em;
        margin: 3em auto 1em auto;
    }

    .profile {
        flex-direction: row;
    }

    .profile .photo {
        flex: 1 0 50%;
    }

    .profile .details {
        flex: 1 0 50%;
    }
}

@media screen and (min-width: 50em) {
    div.work .project.current {
        flex: 1 0 66.6667%;
    }

    div.work .project {
        flex: 1 0 33.3336%;
    }

    div.work .project a {
        opacity: 0.5;
    }

    .hero.about, .hero.contact {
        min-height: 30em;
    }

    .profile {
        width: 50%;
        box-sizing: border-box;
        padding-right: 3em;
        flex-direction: column;
    }

    .employee .about {
        width: 50%;
        padding: 0 5% 3em 0;
        max-width: 30em;
        box-sizing: border-box;
    }

    .content .body {
        max-width: 45%;
        box-sizing: border-box;
        padding-right: 3em;
    }

    .clients li {
        flex: 1 0 25%;
    }
}

@media screen and (min-width: 70em) {
    .hero .logo {
        width: 16em;
    }

    .hero p {
        font-size: 1.2em;
        line-height: 1.6em;
    }

    .hero.about, .hero.contact {
        min-height: 35em;
    }

    div.work .project.current {
        flex: 1 0 50%;
    }

    div.work .project {
        flex: 1 0 25%;
    }

    section.workdescription > div {
        max-width: 60em;
        columns: 20em 2;
        -webkit-columns: 20em 2;
        -moz-columns:  20em 2;
        column-gap: 4em;
        -webkit-column-gap: 4em;
        -moz-column-gap: 4em;
        padding-bottom: 5em;
    }

    .employee {
        width: 90%;
        margin: 0 auto;
    }

    .profile {
        flex-direction: row;
    }

    .clients li {
        flex: 1 0 20%;
    }

    .map {
        height: 40em;
    }
}

@media screen and (min-width: 110em) {
    .hero .logo {
        width: 22em;
    }

    .hero.about, .hero.contact {
        min-height: 40em;
    }

    .clients li {
        flex: 1 0 16.6667%;
    }

    .map {
        height: 50em;
    }
}

@media screen and (min-width: 170em) {
    .hero .logo {
        width: 28em;
    }

    .hero.about, .hero.contact {
        min-height: 50em;
    }

    .clients li {
        flex: 1 0 14.28%;
    }

    .map {
        height: 60em;
    }
}
