if clients
  unless align
    - var align = ''
  unless heading
    - var heading = 'Clients'
  div(class="clients "+align)
    h1 #{heading}
    ul
      each client in clients
        if client.image
          li
            img(src=client.image.url, alt=client.fullname)
