<div class="contact">
    <dl>
        <dt>Telephone</dt>
        <dd>{{common.contact.telephone}}</dd>
        <dt>Email</dt>
        <dd>{{{common.contact.email}}}</dd>
    </dl>

    <div id="map"
        data-lat="{{common.contact.location.latitude}}"
        data-long="{{common.contact.location.longitude}}"></div>
</div>
