<!--[if lte IE 8]>
<div class="ie8-message-bg">
<div class="ie8-message-content">
<h1>Nettleseren din b&oslash;r oppdateres</h1>
<p>Sjakkspillet vises ikke p&aring; en god m&aring;te
for deg som har en eldre nettleser. Vi anbefaler &aring; oppgradere
nettleseren din til den nyeste versjonen, eller bytte til en annen
nettleser.</p>
<p>
<strong>Sidene vises best i <a href="http://google.no/chrome">Google Chrome</a>, <a href="http://apple.no/safari">Safari</a>, <a href="http://mozilla.org/firefox">Mozilla Firefox</a> og <a href="http://microsoft.com/ie">Internet Explorer 9 og nyere</a>.
</strong>
</p>
<p>
<img src="/public/images/kompatibilitetsmodus.gif" style="float:right;"/>
Dersom du f&aring;r denne meldingen selv om du har en nyere versjon av Internet Explorer, har du aktivert noe som heter kompabilitetsvisning av nettsteder. Den sl&aring;r du av ved &aring; klikke p&aring; symbolet som ser ut som et A4-ark som er revet i to, rett ved siden av nettadressen til siden.
Les mer om kompabilitetsvisning <a href="http://windows.microsoft.com/nb-no/internet-explorer/use-compatibility-view#ie=ie-11">her</a>.
</p>
</div>
</div>
<![endif]-->
