<!--[if lt IE 10]>
<div class="ie8-message-bg">
<div class="ie8-message-content">
<h1>You should update your browser</h1>
<p>
<strong>Our website works best with <a href="http://google.no/chrome">Google Chrome</a>, <a href="http://apple.no/safari">Safari</a>, <a href="http://mozilla.org/firefox">Mozilla Firefox</a> or the latest version of <a href="http://microsoft.com/ie">Internet Explorer</a>.
</strong>
</p>
</div>
</div>
<![endif]-->
