<!--DONE-->
<div class="menu" id="menu">
    <a href="/" class="logo"><img src="/public/images/logo_white_name.svg" /></a>
    <ul>
    {{#each menu}}
        <li>{{{link}}}</li>
    {{/each}}
    </ul>
</div>
