div.menu#menu
  a.logo(href="/")
    img(src="/public/images/logo_white_name.svg", alt="Mint Design logo in white")
  ul
    each m in menu.data.options
      li
        a(href=prismicDOM.Link.url(m.link, ctx.linkResolver))
          != m.label
