script(crossorigin="anonymous", src="/public/js/picture.js")
script(crossorigin="anonymous", src="/public/js/main.js")
script(crossorigin="anonymous", src="/public/js/picturefill.min.js")
script(crossorigin="anonymous", src="/public/js/ga.js")
