/* Other aspect ratios to try:
 * 56.25% = 16:9
 * 75% = 4:3
 * 66.66% = 3:2
 * 62.5% = 8:5
 */

a {
    color: #f00;
    text-decoration: none;
}

.about .content {
    padding-bottom: 42%;
}

.contactfooter {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: black;
    color: white;
}

.contactfooter li {
    list-style: none;
}

.contactfooter .logo {
    height: 80px;
}

.gallery img {
    width: 100%;
}

.employee {
    width: 50%;
    display: inline-block;
    overflow: auto;
}

.employee img {
    width: 50%;
    float: left;
}

.employee ul {
    margin: 0;
    padding: 0;
}

.employee li {
    list-style: none;
}

/*
.awards dt {

}
*/

.awards dd {
    margin-left: 10%;
}

.contact #map {
    height: 400px;
}

.work a {
    display: block;
    width: 100%;
    clear: left;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 400px) {

    .work .wrap {
        width: 100%;
    }

    .menu li {
        float: none;
        text-align: right;
    }

    .menu ul {
        position: relative;
        float: right;
    }

}

@media screen and (min-width: 400px) {

    .work .wrap {
        width: 50%;
    }
}

@media screen and (min-width: 700px) {

    .work .wrap {
        width: 33.3334%;
    }

    .menu a {
        font-size: 16px;
    }

    .head span {
        font-size: 16px;
    }
}

@media screen and (min-width: 960px) {

    .work .wrap {
        width: 25%;
    }

}
