body {
    font-family: DIN OT, 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    color: black;
}

.work, .contactfooter {
    overflow: auto;
    float: left;
    width: 100%;
}

.work .wrap, .head, .about {
    display: inline-block;
    position: relative;
    float: left;
    overflow: hidden;
}

.head, .about {
    width: 100%;
    max-height: 500px;
    color: white;
}

.head .content > div {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

.head .content {
    background-color: black;
}

.work .thumb, .head .content {
    padding-bottom: 56.25%;
}

.work .wrap a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    text-decoration: none;
    color: white;
    opacity: 0;
    text-align: left;
    padding: 0;
}

.work .wrap a:hover {
    opacity: 1;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
}

.work span {
    display: block;
    font-size: 11px;
    margin-top: 6px;
}

.head span {
    display: block;
    margin-top: 32px;
    white-space: nowrap;
    font-size: 13px;
}

.work a div {
    bottom: 12px;
    left: 12px;
    position: absolute;
}

.head .latest {
    opacity: 0.25;
}

.logo {
    width: 100%;
    background-image: url('/public/images/logo_white.svg');
    background-position: 50% 0px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 180px;
}

.work img, .head .latest, .about img {
    position: absolute;
    width: 101%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 0;
}

.work h2 {
    text-align: center;
    margin: 24px auto;
    font-size: 20px;
    color: black;
}

.menu {
    width: 100%;
    overflow: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: black;
    color: white;
}

.menu ul {
    position: absolute;
    right: 12px;
}

.menu li {
    float: left;
    list-style: none;
    margin-left: 12px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.symbol {
    background-image: url('/public/images/logo_symbol_white.svg');
    background-position: 0px 0px;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.menu .symbol {
    padding-left: 20px;
    float: left;
    margin-left: 12px;
}

.menu a.symbol:hover {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}
