{{> menu}}

<div class="contact hero overlay" id="hero">
    {{{herobg "hero" common.contact.map "main"}}}
</div>

<div class="content contact">
    <h1>Contact</h1>
    <div class="body">
        {{{common.contact.address}}}
    </div>
</div>

{{> footer}}
