extends ./layouts/main.pug

block meta

  +metaTags(contact.data)

block vars

  - var documentId = contact.id

block body

  div.contact.hero.overlay#hero
    style(type="text/css").
      #hero{background-image:url(#{contact.data.map.url});}

  div.content.contact
    h1 Contact
    div.body
      != prismicDOM.RichText.asHtml(contact.data.address)
