<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta property="og:url" content="http://mintdesign.no" />
    <meta property="og:title" content="{{common.about.companyname}}" />
    <meta property="og:description" content="{{common.about.tagline}}" />
    <meta property="og:image" content="http://mintdesign.no/public/images/share.jpg" />

    <title>{{common.about.companyname}}</title>

    <link rel="stylesheet" type="text/css" href="/app/views/css/reset.css" inline>
    <link rel="stylesheet" type="text/css" href="/app/views/css/fold.css" inline>

    <script type="text/javascript" src="/app/views/js/loadfont.js" inline></script>
    <script type="text/javascript" src="/app/views/js/loadcss.js" inline></script>

    <script>
        document.createElement('picture');
    </script>
    <script src="/public/picturefill.min.js" async></script>

    {{> ie8style}}
</head>
<body>
    {{> ie8message}}
    {{{body}}}
</body>
</html>
